.Error-Page-Main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 90%;
  margin: auto;
  margin-top: 2%;
}
.error-image {
  /* width: 70vh; */
  height: 70vh;
}

@media screen and (max-width: 480px) {
  .error-image {
    width: 90vw;
    height: auto;
  }
}
